@import "reset", "variables", "animation", "loader", "moves";

html,
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: $background-color;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 4.9vmin;
  margin-bottom: 2vmin;
  color: $title-color;
}

.chessboard-container {
  border: 1.1vmin solid $border-color; 
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 31.2vw;
  height: 31.2vw;
  box-shadow: 0.2vmin 0.3vmin 1.5vmin rgba(0, 0, 0, 0.5);
  border-radius: 1%;
}

.square {
  background-color: map-get($square-colors, "yellowish");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-odd:nth-child(even) {
  background-color: map-get($square-colors, "bluish");
}

.row-even:nth-child(odd) {
  background-color: map-get($square-colors, "bluish");
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
}
