@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import "reset", "animation";

html, body {
  height: 100%;
  font-family: 'Libre Baskerville', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard-container {
  border: 10px solid rgb(64, 44, 17);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 30vw;
  height: 30vw;
}

.square {
  background-color: hsl(38, 84%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-odd:nth-child(even) {
  background-color: hsl(34, 58%, 30%);
}

.row-even:nth-child(odd) {
  background-color: hsl(34, 58%, 30%);
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
}

@media screen 
  and (min-device-width: 200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .chessboard-container {
      width: 600px;
      height: 600px;
    }
}

/* moves */

#e2 img {
  animation-name: move-up-2;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

#e7 img {
  animation-name: move-down-2;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

#f1 img {
  animation-name: move-diagonal-3;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 8s;
}

#b8 img {
  animation-name: move-L-right;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

#d1 img {
  animation-name: move-diagonal-4, move-diagonal-2;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards, forwards;
  animation-delay: 13s, 19s;
}

#g8 img {
  animation-name: move-L-left;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 16s;
}

#f7 img {
    animation-name: remove-piece;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 18s;
}

