* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes move-up-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}

@keyframes move-up-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}

@-webkit-keyframes move-down-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

@keyframes move-down-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

@-webkit-keyframes move-diagonal-2 {
  0% {
    -webkit-transform: translate(500%, -500%);
            transform: translate(500%, -500%);
  }
  100% {
    -webkit-transform: translate(250%, -750%);
            transform: translate(250%, -750%);
  }
}

@keyframes move-diagonal-2 {
  0% {
    -webkit-transform: translate(500%, -500%);
            transform: translate(500%, -500%);
  }
  100% {
    -webkit-transform: translate(250%, -750%);
            transform: translate(250%, -750%);
  }
}

@-webkit-keyframes move-diagonal-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-375%, -375%);
            transform: translate(-375%, -375%);
  }
}

@keyframes move-diagonal-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-375%, -375%);
            transform: translate(-375%, -375%);
  }
}

@-webkit-keyframes move-diagonal-4 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(500%, -500%);
            transform: translate(500%, -500%);
  }
}

@keyframes move-diagonal-4 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(500%, -500%);
            transform: translate(500%, -500%);
  }
}

@-webkit-keyframes move-L-right {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 250%);
            transform: translate(0, 250%);
  }
  100% {
    -webkit-transform: translate(125%, 250%);
            transform: translate(125%, 250%);
  }
}

@keyframes move-L-right {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 250%);
            transform: translate(0, 250%);
  }
  100% {
    -webkit-transform: translate(125%, 250%);
            transform: translate(125%, 250%);
  }
}

@-webkit-keyframes move-L-left {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 250%);
            transform: translate(0, 250%);
  }
  100% {
    -webkit-transform: translate(-125%, 250%);
            transform: translate(-125%, 250%);
  }
}

@keyframes move-L-left {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 250%);
            transform: translate(0, 250%);
  }
  100% {
    -webkit-transform: translate(-125%, 250%);
            transform: translate(-125%, 250%);
  }
}

@-webkit-keyframes remove-piece {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes remove-piece {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader {
  margin-top: 4vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader span {
  display: inline-block;
  background-color: #163152;
  width: 1.6vmin;
  height: 1.6vmin;
  border-radius: 50%;
  margin: 0 0.8vmin;
  -webkit-animation: bounce 0.6s infinite alternate;
          animation: bounce 0.6s infinite alternate;
  -webkit-transform: translate3d(0);
          transform: translate3d(0);
}

.loader span:nth-child(2) {
  background-color: #204879;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounce {
  to {
    width: 1.6vmin;
    height: 1.6vmin;
    -webkit-transform: translate3d(0, 1.6vmin, 0);
            transform: translate3d(0, 1.6vmin, 0);
  }
}

@keyframes bounce {
  to {
    width: 1.6vmin;
    height: 1.6vmin;
    -webkit-transform: translate3d(0, 1.6vmin, 0);
            transform: translate3d(0, 1.6vmin, 0);
  }
}

#e2 img {
  -webkit-animation-name: move-up-2;
          animation-name: move-up-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#e7 img {
  -webkit-animation-name: move-down-2;
          animation-name: move-down-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#f1 img {
  -webkit-animation-name: move-diagonal-3;
          animation-name: move-diagonal-3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

#b8 img {
  -webkit-animation-name: move-L-right;
          animation-name: move-L-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

#d1 img {
  -webkit-animation-name: move-diagonal-4, move-diagonal-2;
          animation-name: move-diagonal-4, move-diagonal-2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
  -webkit-animation-delay: 13s, 19s;
          animation-delay: 13s, 19s;
}

#g8 img {
  -webkit-animation-name: move-L-left;
          animation-name: move-L-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

#f7 img {
  -webkit-animation-name: remove-piece;
          animation-name: remove-piece;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

html,
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #ffdbe1;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title {
  font-size: 4.9vmin;
  margin-bottom: 2vmin;
  color: #153051;
}

.chessboard-container {
  border: 1.1vmin solid #163152;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  width: 31.2vw;
  height: 31.2vw;
  -webkit-box-shadow: 0.2vmin 0.3vmin 1.5vmin rgba(0, 0, 0, 0.5);
          box-shadow: 0.2vmin 0.3vmin 1.5vmin rgba(0, 0, 0, 0.5);
  border-radius: 1%;
}

.square {
  background-color: #ffe07a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.row-odd:nth-child(even) {
  background-color: #204879;
}

.row-even:nth-child(odd) {
  background-color: #204879;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
}
/*# sourceMappingURL=styles.css.map */